* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "aside header"
    "aside main"
    "aside footer";
  grid-template-rows: 150px 90vh 30px;
  grid-template-columns: 250px 1fr;
}

.header {
  grid-area: header;
  align-items: center;
  text-align: center;
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
}
.footer{
  grid-area: footer;
}
/**/
.card {
  height: 100%;
  background: rgb(168, 33, 33);
  text-align: center;
  align-items: center;
}


.logo-header{
  display: inline-block;
  width: 500px;
  height: 100px;
  margin: 10px;

}

.logo-header img{
  border-radius: 10px;
}
/**/
.nav {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
}

.nav_link {
  color: #ffffff;
  display: block;
  padding: 15px 0;
  text-decoration: none;
}

.nav_link--inside {
  border-radius: 6px;
  padding-left: 20px;
  text-align: left;
}

.nav_link--inside:hover {
  background: #e216163b;
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(0, 0, 0);

}


.list_item {
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  object-fit: cover;
  max-height: 100vh;
}

.nav_link {
  color: #ffffff;
  display: block;
  padding: 15px 0;
  text-decoration: none;
}

.nav_link--inside {
  border-radius: 6px;
  padding-left: 20px;
  text-align: left;
}

.nav_link--inside:hover {
  background: #e216163b;
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(0, 0, 0);
  left: auto;
}

.list_item {
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.list_item--click {
  cursor: pointer;
  overflow: hidden;
}

.list_button {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
}

.arrow .list_arrow {
  transform: rotate(90deg);
}

.list_arrow {
  margin-left: auto;
  transition: transform 0.3s;
}

.list_show {
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #e21616;
  list-style: none;
  transition: heigth 0.4s;
  height: 0;
}

.list_show:active {
  height: auto;
}

.destacado {
  display: flex;
  align-items: center;
}

.list_item--click {
  cursor: pointer;
  overflow: hidden;
}

.list_button {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
}

.arrow .list_arrow {
  transform: rotate(90deg);
}

.list_arrow {
  margin-left: auto;
  transition: transform 0.3s;
}

.list_show {
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #e21616;
  list-style: none;
  transition: heigth 0.4s;
  height: 0;
}

.list_show:active {
  height: auto;
}
/* #TablaVentas tbody {
  display: block;
  height: 330px;
  overflow-y: auto;
}

#TablaVentas thead,
#TablaVentas tr {
  display: table;
  width: 100%;
}

#TablaVentas thead tr th:nth-child(1),
#TablaVentas tbody tr td:nth-child(1) {
  width: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#TablaVentas thead tr th:nth-child(2),
#TablaVentas tbody tr td:nth-child(2) {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#TablaVentas thead tr th:nth-child(3),
#TablaVentas tbody tr td:nth-child(3) {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#TablaVentas thead tr th:nth-child(4),
#TablaVentas tbody tr td:nth-child(4) {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#TablaVentas thead {
  width: calc(100% - 1em);
}

#div1 {
  max-height: 350px;
  overflow-y: auto;
} */
